<p id="answerOutcome">* Previous Question Outcome * <br> <%= params[:result] %> </p>

<h3 id=question > <%=@question.question%></h3>

<div class="possibleAnswers">
  <form action="/questions" method="post">
    <button type="submit" name="selected_answer" value="<%= @question.answer_1 %>" > <%= @question.answer_1 %> </button>
    <button type="submit" name="selected_answer" value="<%= @question.answer_2 %>"> <%= @question.answer_2 %> </button>
    <button type="submit" name="selected_answer" value="<%= @question.answer_3 %>"> <%= @question.answer_3 %> </button>
    <button type="submit" name="selected_answer" value="<%= @question.answer_4 %>"> <%= @question.answer_4 %> </button>
    <input type="hidden" name="correct_answer" value="<%= @question.correct_answer %>">
  </form>

</div>
