
<div class="questionsInfo">
  <h4 id="questionNumber">Question <%=Game.instance.question_number%> of 10<h4>
    <h4 id="livesRemaining" >Lives Remaining: <%=Game.instance.lives_remaining%></h4>
    <h4 id="passesRemaining" >Passes Remaining: <%=Game.instance.passes_remaining%></h4>
    <p id="answerOutcome">* Previous Question Outcome * <br> <%= params[:result] %> </p>
</div>

<%if @question != nil %>

<h3 id=question > <%=@question.question%></h3>
<div class="possibleAnswers">
  <form action="/questions" method="post">
    <button type="submit" name="selected_answer" value="<%= @question.answer_1 %>" > <%= @question.answer_1 %> </button>
    <button type="submit" name="selected_answer" value="<%= @question.answer_2 %>"> <%= @question.answer_2 %> </button>
    <button type="submit" name="selected_answer" value="<%= @question.answer_3 %>"> <%= @question.answer_3 %> </button>
    <button type="submit" name="selected_answer" value="<%= @question.answer_4 %>"> <%= @question.answer_4 %> </button>
    <input type="hidden" name="correct_answer" value="<%= @question.correct_answer %>"><br>
    <button type="submit" name="selected_answer" value="Pass"> Pass </button>
  </form>

</div>
<%  else %>
  <h3 id=question >You've run out of questions... come on, you think I've got all day to think of new questions. Play something else!</h3>
<%  end %>
